.container{
    width: 100%;
    padding-left: 64px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    -webkit-box-shadow: 10px 10px 30px 12px rgba(244,248,255,.8);
    -moz-box-shadow: 10px 10px 30px 12px rgba(244,248,255,.8);
    box-shadow: 10px 10px 30px 12px rgba(244,248,255,.8);
    display: flex;
    flex-direction: row;

    .logo-container{
        width: auto;
        flex: auto;
        left: 0;
        color: #740A2B!important;
        padding-left: 50px;
        img{
            color: #740A2B!important;
            width: 19em;
        }

        svg{
            fill: #740A2B!important;
        }
    }

    .user-info-container{
        width: 300px;
        background-color: lawngreen;
        float: right;
    }
}