<div class="container"><!--Master container-->
    <div class="logo-container"> <!--Logo container-->
        <img src="./assets/Marca UCAM.svg">
    </div>
    <div class="user-info-container"><!--UserInfo container-->
        <div class="heading">
            <i class="material-icons">apps</i>
            <img src="../../../../assets/icon1.svg">
            <div class="name-container">
                <label class="name">Tiago Batista Corrêa</label>
                <label class="place">Campos - RJ</label>
            </div>
        </div>
    </div>
</div>