.container{
    width: 100%;
    padding-left: 64px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    height: 80px;
    -webkit-box-shadow: 10px 10px 30px 12px rgba(244,248,255,.8);
    -moz-box-shadow: 10px 10px 30px 12px rgba(244,248,255,.8);
    box-shadow: 10px 10px 30px 12px rgba(244,248,255,.8);
    display: flex;
    flex-direction: row;

    .logo-container{
        width: auto;
        flex: auto;
        left: 0;
        color: #740A2B!important;
        padding-left: 50px;
        img{
            color: #740A2B!important;
            width: 19em;
        }

        svg{
            fill: #740A2B!important;
        }
    }

    .user-info-container{
        width: auto;
        float: right;
    }
}

.heading{
    width: 350px;
    display: flex;
    flex-direction: row;
    i{
        font-size: 48px;
        font-weight: 100;
        position: relative;
        top: 15px;
        color: #D6D6D6;
    }
    img{
        position: relative;
        display: flex;
        top: -12px;
        left: 0px;
        margin: 0;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .name-container{
        position: relative;
        left: -15px;
        top: 24px;
        display: flex;
        flex-direction: column;

        .name{
            font-size: 16px;
            font-family: 'Roboto-Bold';
            line-height: 15px;
        }

        .place{
            font-size: 13px;
            font-family: 'Roboto';
        }
    }
}