.modalHeader{
    width: 100%;
    height: auto;
    .labels{
        float: left;
        font-family: 'Basis Medium', sans-serif;
        display: flex;
        flex-direction: column;
        line-height: 20px;
    
        .title{
            padding-top: 5px;
            padding-bottom: 5px;
            font-family: 'Basis Bold', sans-serif;
            font-size: 20px;
            color: #112438;
        }
    
        .year-container{
            display: flex;
            color: #1951D1;
            flex-direction: row;
            .icon{
                margin-right: 5px;
            }
        }
        .quantity{
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 15px;
            color: #1951D1;
           
        }
    }
    
    .buttons{
        //position: absolute;
        float: right;
        display: flex;
        flex-direction: row;
        margin-top: 23px;
        app-search-input{
            margin-right: 15px;
        }
        //background-color: black;
    }
}



.heading{
    //width: 100%;
    display: flex;
    flex-direction: row;
    img{
        position: relative;
        display: flex;
        top: -27px;
        left: -12px;
        margin: 0;
        width: 96px;
        height: 96px;
        object-fit: cover;
    }

    .name-container{
        left: -23px;
        display: flex;
        flex-direction: column;

        .name{
            font-size: 16px;
            font-family: 'Roboto-Bold';
            .matricula{
                font-weight: 100;
            }
        }

        .course{
            font-size: 14px;
            font-family: 'Roboto-Bold';
            font-weight: 300;
        }
    }
}

app-tab{
    position: relative;
    top: -30px;
}

.content{
    position: relative;
    top: -20px;
}