.container{
    //opacity: .2;
    z-index: 45;
    left: 0;
    top: 0;
    width: 64px;
    height: 100%;
    position: fixed;
    background-color: #740A2B;
    margin: 0;
    padding: 0;
    transition: width .5s;
    button{
        background-color: #740A2B; /* Green */
        border: none;
        color: white;
        width: 100%;
        max-width: 64px;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        outline: none;
        margin-bottom: 20px;
        i{
            font-size: 2em;
        }
    }


    ///Menu
    .ul-side-menu{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }
        
    li{
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 15px;
        box-sizing: border-box;
        display: block;
        width: 100%;
        background-color: #832441;
        border-left: solid 3px white;

        p{
            margin: 0;
            width: 300px;
            height: auto;
            line-height: 1pt;
            color: white;
            font-weight: 600;
            font-size: 1em;
            font-family: 'Roboto-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 0;

            span{
                opacity: 0;
                transition: display 1.5s;   
                transition: opacity 1.5s;
            }

            i{
                position: relative;
                top: .25em;
                font-size: 1.5em;
                margin: 0;
                margin-right: 15px;
                padding: 0;
            }
        }
    }



}

.active{
    width: 350px;
    p{
        span{
            opacity: 1!important;
            transition: display .5s;
            
            display: inline-flex!important;
        }
    }
}

.btnred{
    color: #FF5389!important;
}