<!--Nenhuma propriedade será passada, uma vez que é apenas um desing de exemplo-->

<!------------------------------------------------------------------------------->
<side-menu></side-menu>
<!---Seprar por seção ou por páginas?-->
<app-header></app-header>
<div class="page-container">

    
    
    <app-dark-plane [enabled]="darkness_activated" (callback)="menuPeriodSelectStartSelect()"></app-dark-plane>
    <div class="app-logo-container"><!--App logo container's-->
        <img src="../../../assets/Marca app.svg">
    </div>
    <!------------------------------------------------------------------------------->
    
    <!--Master selector (year select)-->
    <div class="main-select-container">
        <label class="lbl-main-select">Escolha o período letivo</label>
        <app-drop-down-menu width="420px" icon="calendar_today" [data]="periods_available" (callback)="menuPeriodSelect($event)" (click)="menuPeriodSelectStartSelect()"></app-drop-down-menu>
        
    
    </div><!--Container-->
    
    <div class="radio-container">
        <div class="super-radio-buttons-container">
            <app-super-radio-buttons (callback)="queryTypeSelect($event)"></app-super-radio-buttons>
        </div>
        <div class="search-button-container">
            <app-button width="80px" role="Buscar" (callback)="searchBasedOnQuery()"></app-button>
            <!---icon_left="save_alt"-->
        </div>
    </div>


</div>


<div  *ngIf="query_type_selected == 1" class="page-container non-first-page">

    <div class="table-container">
        <app-table-simple  (exportCallback)="exportModal()" ></app-table-simple>
    </div>


    <!----
    <div class="line-chart-container">

        <canvas id="myChart" class="chart"></canvas>

    </div>
    -->





</div>

<div  *ngIf="query_type_selected == 2" class="page-container non-first-page">

    <div class="table-container">
        <app-table-medium role="Consulta pelo Financeiro" title="Receita de repasse por Curso" tc1="CURSO" tc2="ALUNOS MATRICULADOS" tc3="VALOR PAGO" tc4="VALOR REPASSE"  (exportCallback)="exportModal()" ></app-table-medium>
    </div>

</div>




